body
{
  background: #5cb85c;
}

.all
{
  width: 800px;
  margin: auto;
  margin-top: 180px;
  color: white;
}

header
{
    text-align: center;
    font-size: 2em;
}

p
{
    color: red;
    text-align: center;
}
