body
{
    background: #5cb85c;
}

nav
{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

label
{
    color: white;
}

header
{
    text-align: center;
}

form
{
    text-align: center;
    margin-bottom: 10px;
}

#all
{
    width: 900px;
    margin: auto;
    display: flex;
    
}

#equip
{
    width: 300px;
    margin: auto;
    text-align: center;
    
}

#room
{
    width: 300px;
    margin: auto;
    text-align: center;
}

h1
{
    font-size: 3em;
    text-align: center;
    color: black;
}


h2
{
    font-size: 1.6em;
    color: red;
}

a:link, a:active, a:hover, a:visited
{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

.home
{
    margin-left: 25px;
}
