body
{
    background: greenyellow;
    font-family: verdana;
    text-align: center;
}

h1
{
    font-size: 3em;
    text-align: center;
}


h2
{
    font-size: 1.6em;
    color: red;
}


span
{
    color: red;
    font-size: 2.5em;
}

a:link, a:visited, a:hover, a:active
{
    text-decoration: none;
    color: blue;
}

a
{
    font-size: 1.5em;
}