body
{
    background: #5cb85c;
}

#results
{
    width: 1291px;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}

nav
{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

h1
{
    font-size: 3em;
    text-align: center;
    color: black;
}

table
{
    text-align: center;
}

tr,th,td
{
    border: 1px black solid;
}

th
{
    color: red;
    text-align: center;
}

span
{
    color: red;
    font-size: 2.5em;
}

