body
{
    background: #5cb85c;
}

nav
{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

label
{
    color: white;
}

#all
{
    width: 360px;
    margin: auto;
    text-align: center;
}

p
{
    color: white;
}

h1
{
    font-size: 3em;
    color: black;
}

a:link, a:active, a:hover, a:visited
{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

.home
{
    margin-left: 25px;
}

