/* general*/
body
{
    background: #7aa3b4;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
}
div
{
    width: 360px;
    margin: auto;
    text-align: center;
}

h1
{
    font-size: 3em;
    color: white;
}

p
{
    font-size: 1.2em;
}

/*link*/ 
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

/*move.php*/

#all
{
    width: 900px;
    margin: auto;
    display: flex;
    
}

#equip
{
    width: 300px;
    margin: auto;
    border: 2px white solid;
    text-align: center;
    
}

#room
{
    width: 300px;
    margin: auto;
    border: 2px white solid;
    text-align: center;
}

h2
{
    font-size: 1.6em;
    color: white;
}

.submit
{
    border-radius: 5px/4px;
}

/*search results*/

table
{
    border-collapse: collapse;
    width: 100%;
    
}

th,td
{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #5e7883;
    color: white
    
}

tr:hover {background-color: #f5f5f5}



