body
{
    background: #5cb85c;
    font-family: verdana;
}

.all
{
  width: 800px;
  margin: auto;
  margin-top: 180px;
  color: white;
}

label
{
    color: white;
}

header
{
    text-align: center;
    font-size: 2em;
}

nav
{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

div > p
{
    font-size: 1.5em;
}

div
{
    width: 360px;
    margin: auto;
    text-align: center;
}



a:link, a:visited, a:hover, a:active
{
   color: white;
   text-decoration: none;
}

p
{
    font-size: 1.2em;
}